# This file is part of harbour-todolist.
# SPDX-FileCopyrightText: 2020-2021 Mirian Margiani
# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "libs/SortFilterProxyModel"]
	path = libs/SortFilterProxyModel
	url = https://github.com/oKcerG/SortFilterProxyModel
[submodule "libs/cpython"]
	path = libs/cpython
	url = https://github.com/python/cpython/
[submodule "libs/pyotherside"]
	path = libs/pyotherside
	url = https://github.com/thp/pyotherside
